.DS_Store
*.pyc
.idea/*
*.log
*.pyo
*.pickle
*.done
measurements/*
*.data
.deployment.json
.running.json
.cache
test/.cache
__pycache__/*
generated-containers*/
*.credentials
.mytree.dot
.mytree.png
.mytree.yaml
.vagrant
.tmp/*
k8s/vars.sh
*.ods
*.bak
